/*
font-family: 'Expletus Sans', cursive;
font-family: 'Bungee', cursive;
font-family: 'Baloo Da', cursive;
*/
body {
  background-color: black;
}
a:link {
  color: Blue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: Red;
  background-color: transparent;
}
.move {
  margin: 0;
  position: relative;
}
.title {
  font-size: 50px;
  color: white;
  font-family: 'Bungee', cursive;
  border: 2px white;
  white-space: nowrap;
  overflow: hidden;
}
.Foundation {
  font-size: 35px;
  color: white;
  font-family: 'Bungee', cursive;
  border: 2px white;
}
.meaning {
  font-size: 20px;
  font-family: 'Expletus Sans', cursive;
}
.home {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
table, tr, td {
  border: 1px dotted white;
}
th {
  font-family: 'Expletus Sans', cursive;
  color: white;
}
.set {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20% 20%;
}
.description {
  font-family: 'Expletus Sans', cursive;
  color: white;
}
